@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1150px;
  margin: auto;
}

body {
  width: 100%;
  height: 100%;
}

:root {
  --white-clr: #fff;
  --black-clr: #000;
  --blue-clr: #0171dd;

  /* fonts size */

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/hero1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 100%; */
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.nav-links {
  display: flex;
  gap: 0.2rem;
}

.nav-links li a {
  color: var(--black-clr);
  background-color: var(--white-clr);
  padding: 0.5rem 1.2rem;
  border-radius: 999px;
  font-size: var(--fs-sm);
  transition: all 0.3s ease-in-out;
  transform: translateX(-2px);
}
.nav-links li a:hover {
  color: var(--white-clr);
  background-color: var(--blue-clr);
  /* transform: translateX(-2px); */
}
.nav-links .active {
  color: var(--white-clr);
  background-color: var(--blue-clr);
}
.logo a {
  color: var(--white-clr);
  font-weight: 700;
  font-size: var(--fs-lg);
  display: flex;
  align-items: center;
}

.logo a svg {
  width: 35px;
  color: var(--white-clr);
  height: 35px;
}

.mobile-menu-bar {
  background-color: var(--white-clr);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 35px;
  height: 35px;
  border-radius: 999px;
  cursor: pointer;
}

.mobile-menu-bar span {
  width: 20px;
  height: 4px;
  border-radius: 999px;
  background-color: var(--blue-clr);
}

.btn {
  display: flex;
  align-items: center;
  color: var(--black-clr);
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--white-clr);
  border: none;
  border-radius: 999px;
  cursor: pointer;
}
.btn svg {
  width: 25px;
  height: 25px;
  border-radius: 999px;
  rotate: -30deg;
  color: var(--white-clr);
  background-color: var(--blue-clr);
  /* padding: 1rem; */
}

/* nav-hero -section */

.nav-hero {
  padding-top: 7.7rem;
  /* background-color: red; */
}

.nav-hero-content h1 {
  color: var(--white-clr);
  font-size: 3.3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.nav-hero-content p {
  color: var(--white-clr);
  font-size: var(--fs-sm);
  margin-bottom: 1rem;
}

/* nav-bottom */

.nav-bottom {
  display: flex;
  justify-content: space-between;
  background-color: red;
  margin-top: 5rem;
}
.arrow-box {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  /* background-color: gold; */
  padding: 0.9rem;
}

.arrow-box svg {
  width: 35px;height: 35px;
  background-color: var(--white-clr);
  border-radius: 999px;
}

@media (max-width: 660px) {
  .container {
    width: 100%;
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    top: 0;
    padding: 2rem;
    border-radius: 10px;
    position: absolute;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    width: 60%;
    height: 100%;
    z-index: 9;
    transition: all .5s ease-in-out;
    transform: translate(-100%);
  }

  .nav-active {
    transform: translate(0%);
  }

  .mobile-menu-bar {
    display: flex;
  }
   #bta {
    display: none;
   }
}
