@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1150px;
  margin: auto;
}

.main-container {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #edf5fb17;
}

html {
  scroll-behavior: smooth;
}

:root {
  --white-clr: #fff;
  --black-clr: #000;
  --blue-clr: #0171dd;

  /* fonts size */

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
}

.header {
  width: 100%;
  height: 100%;
  background-image: url(/assets/hero3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.nav-links {
  display: flex;
  gap: 0.2rem;
}

.nav-links li a {
  color: var(--black-clr);
  background-color: var(--white-clr);
  padding: 0.5rem 1.2rem;
  border-radius: 999px;
  font-size: var(--fs-sm);
  transition: all 0.3s linear;
}
.nav-links li a:hover {
  color: var(--white-clr);
  background-color: var(--blue-clr);
  transform: translateX(-2px);
}
.nav-links .active {
  color: var(--white-clr);
  background-color: var(--blue-clr);
}
.logo a {
  color: var(--white-clr);
  font-weight: 700;
  font-size: var(--fs-lg);
  display: flex;
  align-items: center;
}

.logo a svg {
  width: 35px;
  color: var(--white-clr);
  height: 35px;
}

.mobile-menu-bar {
  background-color: var(--white-clr);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 35px;
  height: 35px;
  border-radius: 999px;
  cursor: pointer;
}

.mobile-menu-bar span {
  width: 20px;
  height: 4px;
  border-radius: 999px;
  background-color: var(--blue-clr);
}

.btn {
  display: flex;
  align-items: center;
  color: var(--black-clr);
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--white-clr);
  border: none;
  border-radius: 999px;
  cursor: pointer;
}
.btn svg {
  width: 25px;
  height: 25px;
  border-radius: 999px;
  rotate: -30deg;
  color: var(--white-clr);
  background-color: var(--blue-clr);
}

/* nav-hero  */

.nav-hero {
  padding-top: 7.7rem;
}

.nav-hero-content h1 {
  color: var(--white-clr);
  font-size: 3.3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.nav-hero-content p {
  color: var(--white-clr);
  font-size: var(--fs-sm);
  margin-bottom: 1rem;
}

/* nav-bottom */

.nav-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.arrow-box {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.9rem;
}

.arrow-box svg {
  width: 35px;
  height: 35px;
  background-color: var(--white-clr);
  border-radius: 999px;
}

.nav-bottom-container {
  background-color: rgba(71, 63, 63, 0.274);
  border-radius: 1rem;
  width: 15rem;
}

.nav-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.nav-img img {
  width: 100%;
  border-radius: 9px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.6rem;
}

.nav-bottom-arrow {
  width: 35px;
  height: 35px;
  border: 2px solid var(--white-clr);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: -30deg;
}

.nav-text {
  color: var(--white-clr);
}

.nav-bottom-arrow svg {
  width: 25px;
}

/* main-container */
.benefite-senction {
  margin-top: 6rem;
  display: flex;
  padding-top: 4rem;
}

.benefite-senction .left {
  display: flex;
  justify-content: center;
  flex: 1;
}

.img-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-box img {
  width: 65%;
  border-radius: 10px;
}

.benefite-senction .right {
  flex: 1;
  padding: 1rem;
}

.right h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  line-height: 1.1;
}
.sub-text {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 2rem;
  gap: 1.5rem;
}

.text-heading h4 {
  font-size: 1rem;
  font-weight: 400;
}
.paragraph {
  max-width: 100px;
}

.text-icon {
  width: 44px;height: 44px;
  background-color: var(--blue-clr);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-icon svg {
  width: 20px;
  height: 20px;
}

.btn-container1 button {
  padding: 0.7rem 0.8rem;
  border: none;
  background-color: var(--blue-clr);
  border-radius: 999px;
  color: var(--white-clr);
  cursor: pointer;
}

/*===================== discover-section =================== */
.discover-section {
  margin-top: 10rem;
}

.discover-section .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top .discover-left {
  flex: 1;
}

.discover-left h1 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.1;
}

.top .discover-right {
  flex: 1;
}

.discover-right p {
  line-height: 1.4;
  color: var(--black-clr);
}

.discover-section .bottom {
  display: flex;
  gap: 0.4rem;
  padding-top: 5rem;
}

.bottom .bottom-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom-img-container img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: 100%;
  border-radius: 10px;
}

/*====================== third-section ======================= */

.third-section {
  margin-top: 13rem;
}

.third-section-top {
  display: flex;
  justify-content: space-between;
}

.third-section-top .third-t-left {
  flex: 1;
  width: 100%;
}
#thrid-t-right {
  flex: 1;
}
.third-img-container {
  display: flex;
  justify-content: center;
  padding-left: 2rem;
}
.third-img-container img {
  width: 100%;
  border-radius: 10px;
}
.third-section-top .third-t-left h1 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1;
}

.third-t-left p {
  margin-bottom: 1rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.third-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.749);
  padding-bottom: 1rem;
  border-radius: 1px;
  margin-bottom: 1rem;
  margin-top: 2.6rem;
}

.third-text-container .third-text h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
.third-text-container .third-svg-icon svg {
  width: 45px;
  height: 25px;
  rotate: -30deg;
}

/* third-section-bottom */
.third-section-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 5.5rem;
  gap: 5.2rem;
}

.third-b-left {
  flex: 1;
}

.thrid-b-right {
  flex: 1;
}

.thrid-b-right h1 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.3;
  margin-bottom: 1.2rem;
}
.text {
  font-size: 0.9rem;
}
.btn-container-third {
  margin-top: 1rem;
}
.third-btn {
  padding: 0.9rem 1.4rem;
  background-color: var(--blue-clr);
  border: none;
  color: var(--white-clr);
  border-radius: 999px;
  cursor: pointer;
}

/* ====================== customer-review ====================== */

.customer-review {
  margin-top: 8rem;
}

.customer-review-header {
  display: flex;
  gap: 1.1rem;
}

.review-left {
  flex: 1;
}

.review-left h1 {
  font-weight: 500;
  font-size: 2.35rem;
  line-height: 1.2;
}

.review-right {
  flex: 1;
}

.review-right p {
  font-size: 0.9rem;
}
@media (max-width: 660px) {
  .container {
    width: 90%;
  }

  .header {
    background-position: center;
    background-size: cover;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    top: 0;
    left: 0;
    padding: 7rem 3rem;
    border-radius: 10px;
    position: absolute;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    width: 60%;
    height: 100%;
    z-index: 9;
    transition: all 0.5s ease-in-out;
    transform: translate(-100%);
  }
  .logo {
    z-index: 10;
  }

  .nav-active {
    transform: translate(0%);
  }

  .mobile-menu-bar {
    display: flex;
  }
  #bta {
    display: none;
  }

  .benefite-senction {
    flex-direction: column-reverse;
  }

  .discover-section .top {
    align-items: self-start;
    flex-direction: column;
    gap: 1.3rem;
  }

  .third-section-top {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .third-img-container {
    padding: 0;
  }

  .third-section-bottom {
    flex-direction: column-reverse;
  }

  .third-section-top .third-t-left h1 {
    font-size: 2.6rem;
  }

  .customer-review-header {
    flex-direction: column;
    gap: 1.3rem;
  }

}
