* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1150px;
  margin: auto;
}

body {
  width: 100%;
  height: 100%;
}

:root {
  --white-clr: #fff;
  --black-clr: #000;
  --blue-clr: #0171dd;

  /* fonts size */

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/hero-section.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 0.5rem;
}

.nav-links li a {
  color: var(--black-clr);
  background-color: var(--white-clr);
  padding: 0.7rem 1.2rem;
  border-radius: 999px;
  font-size: var(--fs-sm);
  transition: all .3s ease-in-out;
  transform: translateX(-2px);
}
.nav-links li a:hover {
  color: var(--white-clr);
  background-color: var(--blue-clr);
/* transform: translateX(-2px); */
}
.nav-links .active {
  color: var(--white-clr);
  background-color: var(--blue-clr);
}

.logo a {
  color: var(--white-clr);
  font-weight: 700;
  font-size: var(--fs-lg);
}

.btn {
    display: flex;
    
    padding: 1rem 1.5rem;
}